@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth; /* <--- This makes the "Projects" link slide, not jump */
}

:root {
  background-color: #0a0a0a;
  color: #ffffff;
}

/* Custom Scrollbar for that "Hacker" feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00f3ff; 
}